#strippeTable, th, td{
border: 1px solid gray;
border-collapse: collapse;
padding: 8px;
font-family: sans-serif;
}

table {
width: 100%;
}

th {
background-color: #b22222;
padding-top: 20px;
padding-bottom: 20px;
text-align: left;
}

tr:hover {
background-color: burlywood;
}

tr:nth-child(even) {
background-color: #f2f2f2;
}
